// import components scss files

@use "../components/variables" as *;
@use "../components/breakpoints" as *;
@use "../components/mixins" as *;

/* =====================
     start hero area
   ===================== */

.hero-area {
  background-color: var(--socials-clr);

  .hero {
    height: 100vh;
    overflow: hidden;
    @include media-breakpoint-down(sm) {
      justify-content: flex-start;
    }

    .hero-text {
      width: 75%;
      h1 {
        color: var(--white-clr);
        text-transform: uppercase;
        padding: 50px 125px;
        line-height: 100px;
        font-size: 72px;
        @include media-breakpoint-down(sm) {
          font-size: 48px;
        }
        @include media-breakpoint-down(md) {
          padding: 50px 5px;
        }
      }
    }
    .hero-img {
      width: 100%;
      text-align: center;
      @include media-breakpoint-down(sm) {
        width: 85%;
      }
    }
  }
}
